<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div id="overlay"></div>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Nibblr</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
       <!-- testing create event put  -->
      <!-- <button class="mdl-button mdl-js-button mdl-button[two dashes]icon">
        <i class="material-icons">add</i>
      </button> -->
      <a href='http://localhost:3000/create'>
      <button class="icon mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">add</i>
      </button>
      </a>

      <!-- <a class="mdl-navigation__link" href="">Sign In</a> -->
      <signup />
      <login ng-if="!hideLogin"/>
      <button class="icon mdl-button mdl-js-button" ng-if="showLogout" ng-click="ctrl.logoutClick()">Logout</button>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <!--
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
         -->
      </nav>
    </div>
  </header>
  <!-- Hamburger guy -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Content goes here -->
      <!--
      <div>
        <menu />
      </div>
       -->
      <div>
        <event-list events="ctrl.events"/>
      </div>
      <!--
      <div>
        <event-view />
      </div>
       -->
       <!--
      <div>
        <create-event />
      </div>
       -->
    </div>
  </main>
</div>
