<div class="event-view">
  <p class="event-view-text">{{ctrl.event.address}}</p>

  <p class="event-view-text">"{{ctrl.event.description}}"</p>
  <p class="event-view-text"><span style="font-weight: bold;">Hosted by: </span>{{ctrl.event.username}}</p>
  <p class="event-view-text"><span style="font-weight: bold;">Attending: </span>{{ctrl.event.rsvp_usernames}}</p>
  <button class="rsvp-btn mdl-button mdl-js-button" style="float: right;" ng-click="ctrl.rsvpClick(ctrl.event.id, ctrl.event.rsvp_user_id, ctrl.event.creatorID)">RSVP</button>
</div>
