<!-- <li class="event" ng-click="toggleDescription()">
  <div class="event-name">
    <h3>{{ctrl.event.eventName}}</h3>
  </div>
  <div class="event-time">
    <p>{{ctrl.event.datetime}}</p>
  </div>
  <div class="event-description">
    <span ng-if="showDescription">{{ctrl.event.description}}</span>
  </div>
  <div class="event-rsvps">
    <span ng-if="showDescription"> RSVP List: {{ctrl.event.rsvps}}</span>
  </div>
</li> -->

<div class="demo-card-wide mdl-card mdl-cell mdl-cell--10-col mdl-shadow--2dp">
  <div class="mdl-card__media">
    <img src={{event.photo_url}} alt="" />
  </div>
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{event.name}} at {{event.location}}</h2>
  </div>
  <div class="mdl-card__supporting-text">{{parseDate()}} <span style="font-weight: bold;">{{parseTime()}}<span/></div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="toggleDescription()" ng-if="!showDescription">
      More Info
    </a>
    <div ng-if="showDescription">
      <event-view event="event" ng-click="toggleDescription()"/>
    </div>
  </div>
  <div class="mdl-card__menu">
    <!-- Number badge on icon -->
    <div class="material-icons mdl-badge mdl-badge--overlap" data-badge={{event.rsvp_user_id.length}} ng-if="event.rsvp_user_id.length">account_box</div>

  </div>
</div>
