  <div class="input-group">
      <span class="input-group-addon">
          <i class="octicon octicon-calendar"></i>
      </span>
      <input moment-picker
      ng-model="ctrl.eventTime"
      ng-model-options="{ updateOn: 'blur' }"
      format="MM-DD"
      start-view="month"
      placeholder="Select a date"
      />
  </div>
  <div class="input-group">
      <span class="input-group-addon">
          <i class="octicon octicon-calendar"></i>
      </span>
      <input moment-picker
      ng-model="ctrl.eventTime"
      ng-model-options="{ updateOn: 'blur' }"
      format="HH:mm"
      start-view="month"
      placeholder="Select a time"
      change="ctrl.handleDateChange(newValue)"
      />
  </div>
