<div>
<form ng-submit="ctrl.submit(item)" style="padding-left: 10%">
  <label>Search Restaurants:</label>
  <br />
  <input style="width: 80%;" ng-model="item" type="text" name="text">
  <input type="submit">
</form>

<div style="padding-top:3%; overflow:auto;">
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="height: 100%; width: 100%;">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Restaurant</th>
        <th class="mdl-data-table__cell--non-numeric">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in ctrl.restaurants" ng-click="ctrl.handleClick(entry)"><td  class="mdl-data-table__cell--non-numeric" style="font-weight: bold">{{entry.name}}</td><td class="mdl-data-table__cell--non-numeric">{{entry.vicinity}}</td></tr>
    </tbody>
  </table>
</div>
</div>
