.demo-card-wide.mdl-card {
  width: 512px;
  float: left;
  margin: 1rem;
  position: relative;
}
.demo-card-wide.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.demo-card-wide > .mdl-card__title {
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-card__media > img {
    max-width: 100%;
}
.event-grid {
  max-width: 960px;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: inherit;
}





/* mdl - popup */
.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.fab {
  z-index: 5;
  cursor: pointer;
  /*border-radius: 50%;*/
  /*position: fixed;*/
  /*right: 400px;
  top: 100px;*/
  color: #fff;
  /*background: #d35400;*/
  height: 56px;
  width: 56px;
  /*box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);*/
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.fab2 {
  z-index: 5;
  cursor: pointer;
  /*border-radius: 50%;*/
  /*position: fixed;*/
  /*right: 400px;
  top: 100px;*/
  color: #fff;
  /*background: #d35400;*/
  height: 56px;
  width: 56px;
  /*box-shadow: 0 5px 5px rgba(126, 111, 111, 0.39);*/
  -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
}

.icon {
  color: #fff;
  padding: 10px 20px 10px 20px;
  height: 56px;
  width: 96px;
}

.icon2 {
  color: #fff;
  padding: 10px 20px 10px 20px;
  height: 56px;
  width: 96px;
}

.fab.active {
  cursor: default;
  background: #FFF;
  border-radius: .125em;
  position: fixed;
  width: 450px;
  height: 350px;
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  top: 10%;
  right: calc(50% - 250px);
}

.fab2.active {
  cursor: default;
  background: #FFF;
  border-radius: .125em;
  position: fixed;
  width: 450px;
  height: 350px;
  box-shadow: 0 25px 35px 0 rgba(0, 0, 0, 0.35);
  top: 10%;
  right: calc(50% - 250px);
}

.fab-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fab2-icon2 {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active .fab-icon {
  display: none;
}

.active .fab2-icon2 {
  display: none;
}

.active .protect {
  background: none;
}

.active .icon {
  display: none;
}


.active .icon2 {
  display: none;
}

.cntt-wrapper {
  display: none;
}

.active .cntt-wrapper {
  display: block;
}

#fab-hdr {
  position: absolute;
  width: 100%;
  background: #d35400;
}

#fab-hdr h3 {
  padding-left: 30px;
}


#fab-hdr4 {
  position: absolute;
  width: 100%;
  background: #d35400;
}

#fab-hdr4 h3 {
  padding-left: 30px;
}

.cntt {
  padding: 100px 35px 0 35px;
  color: #757575;
}

.btn-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 8px;
  padding: 6px 16px;
}

/* just presenation */
.center{margin: 0 auto}
.m-t-100{margin-top:100px}
.box {
  height: 300px;
  padding: 100px;
}

input::placeholder {
  color: #D3D3D3;
}
